<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yellow Carpet</title>

  {% load static %}
  <!--파비콘 삽입-->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/web/yellowicon.png' %}">
  <!--css 4.4.1 버전 사용해야 modal 가능-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--modal 구현 위한 jq 불러오기 (js보다 앞에 작성!) 연우님은 3.5.1-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!--accident modal에 사용되는 js-->
  <script type="text/javascript" src="{% static 'js/accident.js' %}"></script>
  <!--이미지 슬라이드에 사용되는 js-->
  <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>

  <style>
    @charset "UTF-8";

    * {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
    }

    a {
      font-family: "돋움";
      font-size: 12px;
      color: #000;
      text-decoration: none;
    }

    #visual {
      position: relative;
      width: 1000px;
      height: 500px;
      margin: 0 auto;
    }

    #visual>div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s ease;
      opacity: 0;
    }

    #visual>div.on {
      opacity: 1;
    }

    #control {
      position: absolute;
      width: 100%;
      bottom: 30px;
      text-align: center;
    }

    #control a {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #f6f5f5;
      line-height: 26px;
      font-size: 0.8em;
      border-radius: 14px;
      margin: 0 2px
    }

    #control a.on {
      background: #9ab3f5;
    }
  </style>
</head>


<body>
  <!-- 1.메뉴바 구성 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white !important;">
    <div class="container-fluid" style="background-color:black;">
      <a class="navbar-brand" href="{% url 'index' %}" style="margin-left: 3em;">
        <img src="{% static 'img/web/yellowicon.png' %}"
          style="width: 48px; height: 48px; margin-top: 0.2em; margin-bottom: 0.2em;">
        <img src="{% static 'img/web/yellowfont.png' %}" style="width: 180px; height: 40px; margin-top: 0.2em; ;">
      </a>
      <!--? 무슨버튼-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="margin-right: 17em;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              style="color: rgb(253, 222, 17); font-size: 1.5rem; font-weight: bold; margin-right:2em">Graph</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"
              style="color: rgb(253, 222, 17); font-size: 1.5rem; font-weight: bold; margin-right:-8em">Article</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- 2.이미지 슬라이드 구성 (왼)-->

  <div class="container" style="display: flex; ">
    <div id="visual" style="margin-top:8em; margin-left: -5em; float:left; width:600 ; height:400">
      <div class="on"><a href="#"><img src="{% static 'img/web/image1.jpeg' %}" alt="1" style="width: 100%;height: 100%;"></a>
      </div>
      <div><a href="#"><img src="{% static 'img/web/image2.jpeg' %}" alt="2" style="width: 100%;height: 100%;"></a>
      </div>
      <div><a href="#"><img src="{% static 'img/web/image3.jpeg' %}" alt="3" style="width: 100%;height: 100%;"></a>
      </div>
      <div><a href="#"><img src="{% static 'img/web/image4.jpeg' %}" alt="4" style="width: 100%;height: 100%;"></a>
      </div>
      <section id="control">
        <a class="on" href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </section>
    </div>

    <!-- 3.옐로우카펫 소개 (오) -->
    <div style="margin-top:8em; margin-left: 5em; margin-right:5em; display: inline-block; float:left; width:400">

      <!-- 3-1.옐로우카펫이란? -->
      <div style="margin-left: -8em; margin-bottom: 4em; width:235%;">
        <div style="text-align: center; font-size: 3.5rem; font-weight: bold; margin-bottom: 1.3em; letter-spacing: 1px;">
          아이들을 지키는<br>옐로우 카펫
        </div>
        <div style="text-align: center; font-size: 15pt; letter-spacing: 1.5px;">
          옐로우 카펫은 보행 전 안전한 곳에서 기다리게 하고,<br>
          운전자는 이를 쉽게 인지하게 하고자 <br>
          바닥과 벽면을 노랗게 표시하는 교통안전 설치물이에요.
        </div>
      </div>

      <!--3-2.graph 아이콘-->
      <div style=" margin-right: -4em; margin-top: 1.5em; text-align: center; display: flex;">
        <!--3-2-1.accident : 서울시 어린이 보행자 교통사고 그래프-->
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"
          style="margin-left: 5%; margin-right: 7%; background-color:black; border-radius: 10em;">
          <img src="{% static 'img/web/2.png' %}" style="width: 70px; height: 70px;">
        </button>
        <div class="modal fade" id="exampleModal">
          <div class="modal-dialog-centered modal-lg">
            <div class="modal-content" style="width:100%;height:100%">

              <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold;">서울시 어린이 보행자 교통사고 현황</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div style="text-align: center;"><img src="{% static 'img/gu/seoul_total.png' %}"></div>

                <div class="gu_chart" style="text-align: center;">
                  <select class="custom-select" id="gu" style="width: 100px !important;">
                    <option value="0">구선택</option>
                    <option value="{% static 'img/gu/gangnam.png' %}">강남구</option>
                    <option value="{% static 'img/gu/gangbuk.png' %}">강북구</option>
                    <option value="{% static 'img/gu/gwanak.png' %}">관악구</option>
                    <option value="{% static 'img/gu/gwangjin.png' %}">광진구</option>
                    <option value="{% static 'img/gu/Guro.png' %}">구로구</option>
                    <option value="{% static 'img/gu/geumcheon.png' %}">금천구</option>
                    <option value="{% static 'img/gu/dobong.png' %}">도봉구</option>
                    <option value="{% static 'img/gu/dongdaemun.png' %}">동대문구</option>
                    <option value="{% static 'img/gu/dongjak.png' %}">동작구</option>
                    <option value="{% static 'img/gu/mapo.png' %}">마포구</option>
                    <option value="{% static 'img/gu/seodaemun.png' %}">서대문구</option>
                    <option value="{% static 'img/gu/seongdong.png' %}">성동구</option>
                    <option value="{% static 'img/gu/songpa.png' %}">송파구</option>
                    <option value="{% static 'img/gu/yangcheon.png' %}">양천구</option>
                    <option value="{% static 'img/gu/yeongdeungpo.png' %}">영등포구</option>
                    <option value="{% static 'img/gu/eunpyeong.png' %}">은평구</option>
                    <option value="{% static 'img/gu/jungnang.png' %}">중랑구</option>
                  </select>
                  <button class="btn btn-primary btn-sm" onclick="createImg()">검색</button>
                </div>

                <div id="imgview" style="text-align: center;"><img src=""></div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
        <!--3-2-2.교통사고와 옐로우 카펫의 상관관계 분석-->
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal2"
          style="margin-right: 7%; background-color:black; border-radius: 10em; ">
          <img src="{% static 'img/web/5.png' %}" style="width: 70px; height: 70px;">
        </button>
        <div class="modal fade" id="exampleModal2">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:100%;height:100%">

              <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold;">서울시 옐로우 카펫 설치 현황</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div style="text-align: center;"><img src="{% static 'img/yellowcarpet/2015-2019_옐로우카펫_사망사고 현황.png' %}">
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
        <!--3-2-3.옐로우 카펫 설치현황-->
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal3"
          style="margin-right: 7%; background-color:black; border-radius: 30pt;">
          <img src="{% static 'img/web/6.png' %}" style="width: 70px; height: 70px;">
        </button>
        <div class="modal fade" id="exampleModal3">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:100%;height:100%">

              <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold;">옐로우 카펫과 교통사고 상관관계 분석</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div style="text-align: center;"><img src=""></div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
        <!--3-2-4.결론-->
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal4"
          style="background-color:black; border-radius: 30pt;">
          <img src="{% static 'img/web/7.png' %}" style="width: 70px; height: 70px;">
        </button>
        <div class="modal fade" id="exampleModal4">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:100%;height:100%">

              <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold;">결론</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div style="text-align: center;"><img src=""></div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--그래프 div-->
    </div>
    <!--옐로우카펫 오른쪽 div-->
  </div>

</body>

</html>