<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관련 기사</title>
</head>
<body>
    <li><a href="http://www.surprisenews.kr/news/articleView.html?idxno=237920">1) 제주형 어린이 통학로 조성사업 ‘순항’… 교통사고 예방효과 톡톡</a> </li>
    <li><a href="http://www.kbmaeil.com/news/articleView.html?idxno=836155">2) 스쿨존 사고 이제 그만… ‘옐로우 카펫’ 더 진해진다</a></li>
</body>
</html>